<!--
  templateType: global_partial
  label: Website header
-->
<header>
  <nav class="sticky border-b top-0 z-40 px-4 md:px-0 py-4 flex justify-between bg-white text-9xl">
    <div class="container relative mx-auto justify-between">
      <a class="text-3xl font-bold leading-none" href="#">
        <img src="{{ get_asset_url('../../images/logosayyeah.png') }}">
      </a>
      <div class="plus-btn-pos z-50">
        <div class="plus-btn">
          <div class="r1"></div>
          <div class="r2"></div>
        </div>
      </div>
    </div>
  </nav>
</header>
